@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Arimo');

body {
  color: #0B0E5B;
}

#logo-text {
  font-size: 1.6rem;
}

#logo {
  height: 5vh;
	width: auto;
  margin-right: 10px;
}

h1, h2, li {
  font-family: Merriweather;
}

p {
  font-family: Arimo;
  text-align: center;
}

.left-col, .right-col {
  margin: 40px;
  justify-items: center;
}

li {
  display: inline-block;
}

a:link { 
  text-decoration: none; 
  display:flex;
  align-items:center;
  width:100%;
  font-size: 1.1rem;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav"
    "page page";
}

.nav {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-ul";
  grid-area: nav;
  margin: 10px;
}

.nav-ul {  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo my-plants login";
  grid-area: nav-ul;
}

.logo { grid-area: logo; }

.my-plants { grid-area: my-plants; }

.login { grid-area: login; }

.page {  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "left-col right-col";
  grid-area: page;
}

.left-col {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "instructions";
  grid-area: left-col;
}

.title { 
  grid-area: title; 
  /* background-image: url("../images/grass.webp");
  background-size: cover;
  background-repeat: no-repeat; */
}

.instructions { grid-area: instructions; }

.right-col { grid-area: right-col; }
