@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Arimo');

body {
  color: #0B0E5B;
}

/************************************ Font */

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

h1, h2, li {
  font-family: Merriweather;
}

p {
  font-family: Arimo;
  text-align: center;
}

#logo-text {
  font-size: 1.6rem;
}

/************************************ Buttons */

button {
  background-color: white;
  border: none;
  color: none;
  text-align: center;
  text-decoration: none;
}

#add-button {
  height: 5vh;
	width: auto;
}

/************************************ Links */

li {
  display: inline-block;
}

a:link { 
  text-decoration: none; 
  display:flex;
  align-items:center;
  width:100%;
  font-size: 1.1rem;
}

/************************************ Nav bar */

.nav {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-ul";
  grid-area: nav;
  margin: 10px;
}

.nav-ul {  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo my-plants login";
  grid-area: nav-ul;
}

.logo { grid-area: logo; }

.my-plants { grid-area: my-plants; }

.login { 
  grid-area: login; 
}

/************************************ Images */

#logo {
  height: 5vh;
	width: auto;
  margin-right: 10px;
}

/************************************ Base CSS */

.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav"
    "page page";
}

.page {  
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "left-col right-col";
  grid-area: page;
}

/************************************ Left Column */

.left-col {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "instructions";
  grid-area: left-col;
  margin: 40px;
  justify-items: center;
  text-align: center;
}

.title { 
  grid-area: title; 
  /* background-image: url("../images/grass.webp");
  background-size: cover;
  background-repeat: no-repeat; */
}

.instructions { 
  grid-area: instructions; 
}

/************************************ Right Column */

.right-col { 
  grid-area: right-col; 
  margin: 40px;
  justify-items: center;
  text-align: center;
}

.plant-divs {
  border-style: solid;
  border-width: 5px;
  border-color: #0B0E5B;
  margin: 50px;
}
