{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div>
        <p class="text-start"><strong>Name: </strong>{{ current_user.name }}</p>
        <p class="text-start"><strong>Username: </strong>{{ current_user.username }}</p>
        <p class="text-start"><strong>User Id: </strong>{{ current_user.id }}</p>
        <p class="text-start"><strong>Email: </strong>{{ current_user.email }}</p>
        <p class="text-start"><strong>Date Joined: </strong>{{ current_user.date_added }}</p>
        <p class="text-start"><strong>About Author: </strong>{{ current_user.about_author }}</p>
        <p class="text-start"><strong>Profile Pic: </strong>{{ current_user.profile_pic }}</p>
        <!-- Buttons -->
        <br>
        <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-success btn-sm">Update Profile</a> 
        <a href="{{ url_for('logout') }}" class="btn btn-primary btn-sm">Logout</a>
        <a href="{{ url_for('delete',id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
    </div>

{% endblock %}