{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if name %}
        <h1>User Added!</h1>
        <br><br>
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
                <tr>
                    <td>
                        {{ our_user.id }}. 
                        {{ our_user.username }}
                        - <a href="{{ url_for('update', id=our_user.id)}}">{{ our_user.name }}</a> 
                        - <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            <form method="POST" class="text-end">
                {{ form.hidden_tag() }}
                <div class="text-end">
                    <small>* Required</small>
                </div>
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
                    <!-- Name Label -->
                    <div class="col text-nowrap text-start">
                        <strong>* {{ form.name.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Name Field -->
                    <div class="col">
                        {{ form.name(class="form-control") }}
                    </div>
                    <!-- Username Label -->
                    <div class="col text-nowrap text-start">
                        <strong>* {{ form.username.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Username Field -->
                    <div class="col">
                        {{ form.username(class="form-control") }}
                    </div>
                    <!-- Email Label -->
                    <div class="col text-nowrap text-start">
                        <strong>* {{ form.email.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Email Field -->
                    <div class="col">
                        {{ form.email(class="form-control") }}
                    </div>
                    <!-- Password Label -->
                    <div class="col text-nowrap text-start">
                        <strong>* {{ form.password_hash.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Password Field -->
                    <div class="col">
                        {{ form.password_hash(class="form-control") }}
                    </div>
                    <!-- Password Label2 -->
                    <div class="col text-nowrap text-start">
                        <strong>* {{ form.password_hash2.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Password Field2 -->
                    <div class="col">
                        {{ form.password_hash2(class="form-control") }}
                    </div>
                </div>
                <br>
                <!-- Buttons -->
                <div class="text-end">
                    <button type=submit><img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button"></button>
                </div>
                <br>
            </form>
        </div>

    {% endif %}

{% endblock %}