{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if current_user.is_authenticated %}
    <div>
        <br>
        <!-- Add Plant Form -->
        <form method="POST" class="blue-text" name="addPlant">
            {{ form.hidden_tag() }}
            <div class="row text-end">
                <small>* Required</small>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <!-- Common Name Label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Required) Enter the common name of your plant.">
                    <strong>* {{ form.common_name.label(class="form-label" id="common_name") ~ ':'}}</strong>
                </div>
                <!-- Common Name Field -->
                <div class="col text-nowrap">
                    {{ form.common_name(class="form-control", id="commonNameField", maxlength="255")}}
                    <p id="common-name-error" class="text-wrap"></p>
                </div>
                <!-- Latin Name Label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Optional) Enter the latin name of your plant">
                    <strong>{{ form.latin_name.label(class="form-label" id="latin_name") ~ ':'}}</strong>
                </div>
                <!-- Latin Name Field -->
                <div class="col text-nowrap">
                    {{ form.latin_name(class="form-control", maxlength="255") }}
                </div>
                <!-- Days Between Watering Label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Required) How many days should there be between watering?">
                    <strong>* {{ form.water_interval.label(class="form-label" id="water_interval") ~ ':'}}</strong>
                </div>
                <!-- Days Between Watering Field -->
                <div class="col text-nowrap">
                    {{ form.water_interval(class="form-control", id="waterIntervalField") }}
                    <p id="water-interval-error" class="text-wrap"></p>
                </div>
                <!-- Date Last Watered Label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Required) When did you last water this plant?">
                    <strong>* {{ form.last_watered_date.label(class="form-label" id="watered_date") ~ ':'}}</strong>
                </div>
                <!-- Date Last Watered Field -->
                <div class="col text-nowrap">
                    {{ form.last_watered_date(class="form-control", id="lastWateredField", max=today) }}
                    <p id="last-watered-error" class="text-wrap"></p>
                </div>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
                <!-- Image URL label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Optional) Upload your photo to a hosting platform such as Flikr, and then paste the image URL here">
                    <strong>{{ form.pic_url.label(class="form-label" id="pic_url") ~ ':'}}</strong>
                </div>
                <!-- Image URL Field -->
                <div class="col">{{ form.pic_url(class="form-control", maxlength="255") }}</div>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
                <!-- Notes Label -->
                <div class="col text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="(Optional) Write notes about your plants here. E.g. how to double check that it needs watering, or when you last gave it fertiliser">
                    <strong>{{ form.notes.label(class="form-label" id="notes") ~ ':'}}</strong>
                </div>
                <!-- Notes Field -->
                <div class="col">
                    {{ form.notes(class="form-control", rows="5") }}
                </div>
            </div>
            <!-- Buttons -->
            <div class="row ">
                <div class="d-flex bd-highlight">
                    <!-- Back Button -->
                    <div class="p-2 flex-grow-1 bd-highlight text-end">
                        <a href="{{ url_for('plants') }}">
                            <img src="{{ url_for('static', filename='images/back.webp') }}" alt="Go Back" class="back-button">
                        </a>
                    </div>
                    <!-- Submit Button -->
                    <div class="p-2 bd-highlight">
                        <button type=submit onclick="addPlantForm()">
                            <img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button">
                        </button>
                    </div>
                </div>
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='notes') }}
    </div>
    {% else %}
        <h2>Must be logged in</h2>
        <p>Sorry, you must be logged in to access this page</p>
        <a href="{{ url_for('login')}}">Login Here</a>
    {% endif %}

{% endblock %}