{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if name %}
        <h1>User Added!</h1>
        <br><br>
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
                <tr>
                    <td>
                        {{ our_user.id }}. 
                        {{ our_user.username }}
                        - <a href="{{ url_for('update', id=our_user.id)}}">{{ our_user.name }}</a> 
                        - <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            <form method="POST" class="text-end">
                {{ form.hidden_tag() }}
                <br>
                <div class="row" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="(Required) Tell us your name">
                    <div class="col-3"><strong>* {{ form.name.label(class="form-label") ~ ':' }}</strong></div>
                    <div class="col-8">{{ form.name(class="form-control") }}</div>
                    <div class="col-1"><button type=submit><img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button"></button></div>
                </div>
                <br>
                <div class="row" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="(Required) Tell us your username">
                    <div class="col-3"><strong>* {{ form.username.label(class="form-label") ~ ':' }}</strong></div>
                    <div class="col-8">{{ form.username(class="form-control") }}</div>
                    <div class="col-1"></div>
                </div>
                <br>
                <div class="row" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="(Required) Tell us your email address">
                    <div class="col-3"><strong>* {{ form.email.label(class="form-label") ~ ':' }}</strong></div>
                    <div class="col-8">{{ form.email(class="form-control") }}</div>
                    <div class="col-1"></div>
                </div>
                <br>
                <div class="row" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="(Required) What password would you like to use?">
                    <div class="col-3"><strong>* {{ form.password_hash.label(class="form-label") ~ ':' }}</strong></div>
                    <div class="col-8">{{ form.password_hash(class="form-control") }}</div>
                    <div class="col-1"></div>
                </div>
                <br>
                <div class="row" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="(Required) Please re-enter your password. It must match the password above">
                    <div class="col-3"><strong>* {{ form.password_hash2.label(class="form-label") ~ ':' }}</strong></div>
                    <div class="col-8">{{ form.password_hash2(class="form-control") }}</div>
                    <div class="col-1"></div>
                </div>
                <div class="text-end">
                    <small>* Required</small>
                </div>
                <br>
            </form>
        </div>

    {% endif %}

{% endblock %}