{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <br>
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <!-- Common Name Label -->
                <div class="col-3">
                    <strong>{{ form.common_name.label(class="form-label")}}</strong>
                </div>
                <!-- Common Name Field -->
                <div class="col-3">
                    {{ form.common_name(class="form-control")}}
                </div>
                <!-- Latin Name Label -->
                <div class="col-2">
                    <strong>{{ form.latin_name.label(class="form-label") }}</strong>
                </div>
                <!-- Latin Name Label -->
                <div class="col-3">
                    {{ form.latin_name(class="form-control") }}
                </div>
                <!-- Go Back Button -->
                <div class="col-1">
                    <a href="{{ url_for('plants') }}"><img src="{{ url_for('static', filename='images/back.webp') }}" alt="Go Back" class="back-button"></a>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Water Interval Label -->
                <div class="col-3">
                    <strong>{{ form.water_interval.label(class="form-label") }}</strong>
                </div>
                <!-- Water Interval Field -->
                <div class="col-3">
                    {{ form.water_interval(class="form-control") }}
                </div>
                <!-- Last Watered Label -->
                <div class="col-2">
                    <strong>{{ form.last_watered_date.label(class="form-label") }}</strong>
                </div>
                <!-- Last Watered Field -->
                <div class="col-3">
                    {{ form.last_watered_date(class="form-control") }}
                </div>
                <!-- Submit Button -->
                <div class="col-1">
                    <button type=submit><img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button"></button>  
                </div>
            </div>
            <br>
            <!-- Notes Label -->
            <div class="row">
                <div class="col-12">
                    <strong>{{ form.notes.label(class="form-label") }}</strong>
                </div>
            </div>
            <!-- Notes Field -->
            <div class="row">
                <div class="col-12">
                    {{ form.notes(class="form-control", rows="5") }}
                </div>
            </div>
            
                
            <br>
    
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='notes') }}
    </div>

{% endblock %}