<footer class="navbar-nav ms-auto bg-body-tertiary sticky-bottom shadow">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <div class="row">
                <div class="col-8">
                    <a href="#"><img src="{{ url_for('static', filename='images/instagram.webp') }}" alt="Instagram" class="sm-button"></a>
                    <a href="#"><img src="{{ url_for('static', filename='images/twitter.webp') }}" alt="Twitter" class="sm-button"></a>
                    <a href="#"><img src="{{ url_for('static', filename='images/facebook.webp') }}" alt="Facebook" class="sm-button"></a>
                    <small class="text-start">Copyright &copy; Rossanne Hamilton 2023</small>
                </div>
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/pots.webp') }}" alt="Three plants" id="three-plants">
                </div>
            </div>
                    
                    
                    
                    
                    

        </span>
    </div>
</footer>