<footer class="navbar-nav ms-auto bg-body-tertiary sticky-bottom shadow footer">
    <div class="container-fluid">
        <div class="navbar-brand mb-0 h1">
            <div class="row">
                <div class="col-3 three-plants">
                </div>
                <div class="col-9 text-end">
                    <small>Copyright &copy; 2023 Rossanne Hamilton</small>
                    <a href="https://www.instagram.com/" target="_blank"><img src="{{ url_for('static', filename='images/instagram.webp') }}" alt="Instagram" class="sm-button"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="{{ url_for('static', filename='images/twitter.webp') }}" alt="Twitter" class="sm-button"></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="{{ url_for('static', filename='images/facebook.webp') }}" alt="Facebook" class="sm-button"></a>
                </div>
            </div>
        </div>
    </div>
</footer>