{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <br>
            <div class="row blue-text text-end">
                <div class="col-3"><strong>{{ form.username.label(class="form-label") ~ ':' }}</strong></div>
                <div class="col-8">{{ form.username( class="form-control") }}</div>
                <div class="col-1"><button type=submit><img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button"></button></div>
            </div>
            <br>
            <div class="row blue-text text-end">
                <div class="col-3"><strong>{{ form.password.label(class="form-label") ~ ':' }}</strong></div>
                <div class="col-8">{{ form.password(class="form-control") }}</div>
                <div class="col-1"></div>
            </div>
            <br>
        </form>
    </div>

{% endblock %}