{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for plant in plants %}

        <!-- Delete modal -->
        <div class="modal fade blue-text" id="exampleModal{{ plant.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{ plant.id }}">Are you sure...</h5>
                    </div>
                    <div class="modal-body">
                        <p>...that you want to delete your <strong>{{ plant.common_name }}</strong>?</p>
                        <p><ul>! This action is irreversible !</ul></p>
                    </div>
                    <div class="modal-footer text-end">
                        <a href="{{ url_for('delete_plant', id=plant.id) }}"><img src="{{ url_for('static', filename='images/delete-red.webp') }}" alt="Delete" class="delete-button"></a>
                        <button type="button" data-bs-dismiss="modal" class="text-end">
                            <img src="{{ url_for('static', filename='images/close.webp') }}" alt="Close" class="delete-button">
                        </button>
                    </div>
                </div>
            </div>
        </div>
  
        {% if plant.poster_id == current_user.id %}
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Plant Image -->
            <div class="col">
                {% if plant.pic_url %}
                    <img src="{{ plant.pic_url }}" alt="{{ plant.common_name }} image" class="img-fluid plant-pic">
                {% else %}
                    <img src="{{ url_for('static', filename='images/add-image.webp') }}" alt="No image found" class="img-fluid plant-pic">
                {% endif %}
            </div>
            <!-- Common Name -->
            <div class="col make-middle">
                <h5><strong><u>{{ plant.common_name }}</u></h5></strong>
            </div>
            <!-- Latin Name -->
            <div class="col make-middle">
                <p><i>{{plant.latin_name}}</i></p>
            </div>
            <!-- Water Interval -->
            <div class="col make-middle">
                {% if plant.water_interval == 1 %}
                    <p>- water every day</p>
                {% else %}
                    <p>{{ '- water every ' ~ plant.water_interval ~ ' days' }}</p>
                {% endif %}
            </div>
            <!-- Last Watered -->
            <div class="col make-middle">
                <p>{{ '- last watered on ' ~ plant.last_watered_date.strftime('%A, %B %d') }}</p>
            </div>
            <!-- Next Watered -->
            <div class="col make-middle">
                {% if plant.next_water < now %}
                    <div class="red-text">
                        <p>- needed to be watered on {{ plant.next_water.strftime('%A, %B %d') }}</p>
                    </div>
                {% elif plant.next_water <= now %}
                    <div>
                        <p>- needs to be watered today!</p>
                    </div>
                {% else %}
                    <div>
                        <p>- needs to be watered on {{ plant.next_water.strftime('%A, %B %d') }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Buttons -->
        <div class="row ">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight text-end">
                    <!-- See More -->
                    <a href="{{ url_for('plant', id=plant.id) }}"><img src="{{ url_for('static', filename='images/eye.webp') }}" alt="See More" class="more-button"></a>
                </div>
                <div class="p-2 bd-highlight">
                    <!-- Edit Button -->
                    <a href="{{ url_for('edit_plant', id=plant.id) }}"><img src="{{ url_for('static', filename='images/edit.webp') }}" alt="Update" class="edit-button"></a>
                </div>
                <div class="p-2 bd-highlight">
                    <!-- Delete -->
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{plant.id}}">
                        <img src="{{ url_for('static', filename='images/delete.webp') }}" alt="Delete" class="delete-button">
                    </button>
                </div>
            </div>
        </div>

        <hr>
        {% endif %}
    {% endfor %}
    <div>
        <br>
        <div class="row">
            <a href="{{ url_for('add_plant') }}"><u>Click to add a plant</u></a>
        </div>
        <br>
        <div class="row">
            <a href="{{ url_for('add_plant') }}"><img src="{{ url_for('static', filename='images/add.webp') }}" alt="Add plant" class="add-button"></a>
        </div> 
        <br>         
    </div>
{% endblock %}