{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for plant in current_user.plants %}
        <div class="card">
            <br>
            <div class="row">
                <!-- Plant Image -->
                <div class="col-3">
                    <img src="{{ plant.pic_url }}" alt="{{ plant.common_name }} image" class="img-fluid plant-pic">
                </div>
                <!-- Nested grid -->
                <div class="col-9">
                    <!-- Row 1 -->
                    <div class="row">
                        <!-- Col 1 -->
                        <div class="col-5">
                            <!-- Common Name -->
                            <h5><strong><u>{{ plant.common_name }}</u></h5></strong>
                        </div>
                        <!-- Col 2 -->
                        {% if plant.water_interval == 1 %}
                        <div class="col-5">
                            <!-- Water Interval -->
                            <p>- water every day</p>
                        </div>
                        {% else %}
                        <div class="col-5">
                            <!-- Water Interval -->
                            <p>{{ '- water every ' ~ plant.water_interval ~ ' days' }}</p>
                        </div>
                        {% endif %}
                        <!-- Col 3 -->
                        <div class="col-2">
                            <!-- Delete Button -->
                            <a href="{{ url_for('delete_plant', id=plant.id) }}"><img src="../static/images/delete.webp" alt="Delete" class="delete-button"></a>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row">
                        <!-- Col 1 -->
                        <div class="col-5">
                            <!-- Latin Name -->
                            <p><i>{{ plant.latin_name }}</i></p>
                        </div>
                        <!-- Col 2 -->
                        <div class="col-5">
                            <!-- Last Watered -->
                            <p>{{ '- last watered on ' ~ plant.last_watered_date.strftime('%d-%m-%Y') }}</p>
                        </div>
                        <!-- Col 3 -->
                        <div class="col-2">
                            <!-- Edit Button -->
                            <a href="{{ url_for('edit_plant', id=plant.id) }}"><img src="../static/images/edit.webp" alt="Update" class="edit-button"></a>
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                        <!-- Col 1 -->
                        <div class="col-5"></div>
                        <!-- Col 2 -->
                        <div class="col-5">
                            <!-- Next Watered -->
                            <p>- needs to be watered on</p>
                        </div>
                        <!-- Col 3 -->
                        <div class="col-2">
                            <!-- See More Button -->
                            <a href="{{ url_for('plant', id=plant.id) }}"><img src="../static/images/more.webp" alt="See More" class="more-button"></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>         
        </div>
        <br>
    {% endfor %}
    <div class="card">
        <br>
        <div class="row">
            <a href="{{ url_for('add_plant') }}"><u>Click to add a plant</u></a>
        </div>
        <br>
        <div class="row">
            <a href="{{ url_for('add_plant') }}"><img src="../static/images/add.webp" alt="Add plant" class="add-button"></a>
        </div> 
        <br>         
    </div>
{% endblock %}