{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for plant in current_user.plants %}
        <div class="card">
            <br>
            <div class="row">
                <div class="col-2"></div>
                <!-- Common Name -->
                <div class="col-2 text-nowrap"><h5><strong><u>{{ plant.common_name }}</u></h5></strong></div>
                <!-- Water Interval -->
                <div class="col-7"><p>{{ '- water every ' ~ plant.water_interval ~ ' days' }}</p></div>
                <!-- Delete Button -->
                <div class="col-1"><a href="{{ url_for('delete_plant', id=plant.id) }}"><img src="../static/images/delete.webp" alt="Delete" class="delete-button"></a></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <!-- Latin Name -->
                <div class="col-2"><p><i>{{ plant.latin_name }}</i></p></div>
                <!-- Last Watered -->
                <div class="col-7"><p>{{ '- last watered on ' ~ plant.last_watered_date.strftime('%d-%m-%Y') }}</p></div>
                <!-- Edit Button -->
                <div class="col-1"><a href="{{ url_for('edit_plant', id=plant.id) }}"><img src="../static/images/edit.webp" alt="Update" class="edit-button"></a></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2"></div>
                <!-- Next Watered -->
                <div class="col-7"><p>- needs to be watered on</p></div>
                <!-- See More Button -->
                <div class="col-1"><a href="{{ url_for('plant', id=plant.id) }}"><img src="../static/images/more.webp" alt="See More" class="more-button"></a></div>
            </div>  
            <br>       
            <!-- {{ plant.content|safe }} -->   
        </div>
        <br>
    {% endfor %}

{% endblock %}