{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% if id == current_user.id %}
        <!-- Delete modal -->
        <div class="modal fade blue-text" id="userDelete" tabindex="-1" aria-labelledby="userDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userDeleteLabel">Are you sure...</h5>
                    </div>
                    <div class="modal-body">
                        <p>...that you want to delete this user account?</p>
                        <p>! This action is irreversible !</p>
                    </div>
                    <div class="modal-footer text-end">
                        <a href="{{ url_for('delete', id=current_user.id)}}"><img src="../static/images/delete_red.webp" alt="Delete" id="logo"></a>
                        <button type="button" data-bs-dismiss="modal" class="text-end">
                            <img src="{{ url_for('static', filename='images/close.webp') }}" alt="Close" class="delete-button">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Form -->
        <div>
            <form action="/update/{{ name_to_update.id }}" method="POST" name="editUser">
                {{ form.hidden_tag() }}
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
                    <!-- Name Label -->
                    <div class="col text-nowrap text-start">
                        <strong>{{ form.name.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Name Field -->
                    <div class="col">
                        {{ form.name(class="form-control", value=name_to_update.name, id="name", maxlength="200") }}
                    </div>
                    <p id="edit-name-error"></p>
                    <!-- Username Label -->
                    <div class="col text-nowrap text-start">
                        <strong>{{ form.username.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Username Field -->
                    <div class="col">
                        {{ form.username(class="form-control", value=name_to_update.username, id="username", maxlength="20") }}
                    </div>
                    <p id="edit-username-error"></p>
                    <!-- Email Label -->
                    <div class="col text-nowrap text-start">
                        <strong>{{ form.email.label(class="form-label") ~ ':' }}</strong>
                    </div>
                    <!-- Email Field -->
                    <div class="col">
                        {{ form.email(class="form-control", value=name_to_update.email, id="email", maxlength="120") }}
                    </div>
                    <p id="edit-email-error"></p>
                </div>
                <br>
                <!-- Buttons -->
                <div class="row">
                    <div class="d-flex bd-highlight">
                        <!-- Delete Button -->
                        <div class="p-2 flex-grow-1 bd-highlight text-end">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#userDelete">
                                <img src="{{ url_for('static', filename='images/delete.webp') }}" alt="Delete" class="delete-button">
                            </button>
                        </div>
                        <!-- Save Button -->
                        <div class="p-2 bd-highlight">
                            <div class="col-1">
                                <button type=submit onclick="editUserForm()">
                                    <img src="{{ url_for('static', filename='images/save.webp') }}" alt="Save" class="save-button">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Sorry. You can't edit this user.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h2>Access Denied</h2>
        <p>Sorry, you cannot acces this user profile.</p>
    {% endif %}

{% endblock %}