{% extends "base.html" %}
{% block content %}
    <!-- Left Column -->
    <div class="left-col">
        <div class="title">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="instructions">
            <p>
                Add your plants to this page by clicking the box that says "Click to add a plant".
            </p>
            <p>
                Your plant list will rearrange itself based on which plants need to be watered next.
            </p>
            <p>
                You can edit each plant's watering details by clicking on the pen button.
            </p>
            <p>
                You can delet each plant by clicking on the bin button.
            </p>
        </div>
    </div>
    <!-- Right Column -->
    <div class="right-col">
        <div class="plant-divs hidden">
            <h2>Click to add a plant</h2>
            <button onclick="addButton()">
                <img src="../static/images/add.webp" alt="Add Button" id="add-button">
            </button>
        </div>
        <div class="plant-divs">
            <h2>Click to add a plant</h2>
            <button onclick="addButton()">
                <img src="../static/images/add.webp" alt="Add Button" id="add-button">
            </button>
        </div>
    </div>
{% endblock %}

 