@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Arimo');

body {
  color: #0B0E5B;
  font-family: Arimo;
  background-color: #f8f9fa;
  padding-bottom: 90px;
}

.grass {
    background-image: url("../images/grass.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.center-links {
    text-align:center;
}

/************************************ Navbar */

.navbar .navbar-nav .nav-link {
    font-family: Merriweather;
    color: #0B0E5B;
}

.navbar .navbar-nav .nav-link:hover{
    color: #006e29;
}

a {
    font-family: Merriweather;
    color: #0B0E5B;
}

/************************************ Font */

h1, h2, h3, h4, h5, li {
    font-family: Merriweather;
}

p, label {
    font-family: Arimo;
    text-align: center;
}

small {
    color: #a4a4a2;
}

.blue-text {
    color: #0B0E5B;
}

.red-text {
    color: #cc0000;
}

.make-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    white-space: nowrap;
}

/************************************ Images */

.profile-pic {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
}

#logo {
    height: 5vh;
    width: auto;
    margin-right: 10px;
}

.plant-pic {
    padding-left: 20px;
}

#three-plants {
	width: 20%;
    height: auto;
	background-image: url("../images/right-logo.webp");
	background-repeat: no-repeat;
	background-size: contain; 
	position: fixed;
	bottom: 40px;
    left: 40px;
	z-index: 200;  
} 

/************************************ Form Fields */

/* .user-name,
.user-name:focus,
.user-username,
.user-username:focus
 {
    border: 2px solid #cc0000;
    border-radius: 4px;
}  */

#name-error,
#username-error,
#email-error,
#password-error,
#password-error-2,
#edit-name-error,
#edit-username-error,
#edit-email-error,
#common-name-error,
#water-interval-error,
#last-watered-error {
    color: #cc0000;
    padding: 0;
    margin: 0;
}

/************************************ Tooltip */
/* Code adapted from https://medium.com/mkdir-awesome/how-to-change-the-bootstrap-5-tooltip-background-and-arrow-color-67e6c5aea510 */

.tooltip-inner {
    background-color: #0B0E5B;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #0B0E5B !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #0B0E5B !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #0B0E5B !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #0B0E5B !important;
}

/************************************ Buttons */

button {
    background: transparent;
    border: none !important;
    font-size:0;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.card {
    border-color: #0B0E5B;
    border-width: 2px;
}

.save-button,
.delete-button,
.edit-button,
.more-button,
.back-button,
.add-button {
    height: 5vh;
    width: auto;
    margin-right: 10px;
}

.question-button {
    height: 2vh;
    width: auto;
}

.sm-button {
    height: 4vh;
    width: auto;
    display: inline-block;
}

/************************************ Media Queries */

/* Taken from https://codingyaar.com/responsive-bootstrap-navbar-with-vertical-line-separator/ */
@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid #000000;
    }
  }